.top-wrapper{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 300px;
    color: cadetblue;
    font-size: 24px;
}
h1 {
font-size: 100px;
background: -webkit-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}
.box{
  background-color: red;
  width: 300px;
  height: 150px;
  margin: 0 auto;
}